body {
    width: 80%;
    margin: auto;
    background-color: white;
}
main {
    margin-right: 34%; 
}
header {
    height: 240pt;
    width: 100%;
    text-align: center;
    background-color: powderblue;
}
.title {
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
    margin-bottom: 10pt;
}
header img {
    margin-top: 16pt;
    max-height: 50%;
    max-width: 50%;
}
nav {
    height: 32pt;
    width: 100%;
    background-color: lightslategrey;
    text-align: center;
}
li {
    margin: 16pt 0;
}
section div {
    margin-top: 12pt;
    margin-bottom: 12pt;
    padding: 12pt;
}
/*Image from https://www.flaticon.com/free-icon/profit_9845032 */
section .left-img {
    float: left;
    max-width: 25%;
    max-height: 25%;
    padding-right: 15pt;
}
/* Image from https://www.flaticon.com/free-icon/computer_224597 */ 
section .right-img {
    float: right;
    max-width: 25%;
    max-height: 25%;
    padding-left: 15pt;
}
/* Reference: https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
    margin: 0;
}
nav a {
    display: block;
    padding: 8pt;
    color: white; 
    background-color: lightslategrey;
}
/* Reference: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
aside {
    color: black; 
    width: 24%; 
    position: absolute; 
    z-index: 1;
    top: 280pt; 
    right: 10%;
    background-color: whitesmoke; 
    overflow-x: hidden; 
    padding-top: 12pt;
    text-align: center;
}
aside h2 {
    padding-left: 20%;
    padding-right: 20%;
}
aside ul {
    padding-left: 20%;
    padding-right: 20%;
    list-style-type: none;
}
aside li {
    color: lightslategrey;
    font-size: 14pt;
}
aside img {
    margin-top: 16pt;
    max-width: 100%;
    height: auto;
}