body {
    background-color: white;
}
main {
    margin-right: 320pt; 
}
header {
    height: 250pt;
    width: 100%;
    background-color: powderblue;
    text-align: center;
}
/* Reference: https://stackoverflow.com/questions/7282236/placing-an-image-to-the-top-right-corner-css */
img {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    max-height: 25%;
    max-width: 25%;
}
nav {
    height: 40pt;
    width: 100%;
    background-color: lightslategrey;
    text-align: center;
}
/* Reference: https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav a {
    display: block;
    padding: 8pt;
    font-size: 20pt;
    color: white; 
    background-color: lightslategrey;
}
/* Reference: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
aside {
    color: black; 
    height: 50%; 
    width: 280pt; 
    position: fixed; 
    z-index: 1;
    top: 320pt; 
    right: 8pt;
    background-color: rgb(243, 243, 243); 
    overflow-x: hidden; 
    padding-top: 20pt;
    text-align: center;
}
aside h2 {
    padding-left: 30pt;
    padding-right: 30pt;
    font-size: 32pt;
}
aside ul {
    padding-left: 30pt;
    padding-right: 30pt;
    list-style-type: none;
}
aside li {
    color: blue;
    font-size: 20pt;
    margin: 16pt 0;
}