body {
    width: 80%;
    margin: auto;
    background-color: white;
}
main {
    margin-right: 320pt; 
}
header {
    height: 240pt;
    width: 100%;
    text-align: center;
    background-color: powderblue;
}
.title {
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
    margin-bottom: 10pt;
}
/* Reference: https://stackoverflow.com/questions/7282236/placing-an-image-to-the-top-right-corner-css */
img {
    margin-top: 10pt;
    max-height: 50%;
    max-width: 50%;
}
nav {
    height: 32pt;
    width: 100%;
    background-color: lightslategrey;
    text-align: center;
}
/* Reference: https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav a {
    display: block;
    padding: 8pt;
    color: white; 
    background-color: lightslategrey;
}
/* Reference: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
aside {
    color: black; 
    height: 200pt; 
    width: 280pt; 
    position: absolute; 
    z-index: 1;
    top: 300pt; 
    right: 10%;
    background-color: rgb(243, 243, 243); 
    overflow-x: hidden; 
    padding-top: 10pt;
    text-align: center;
}
aside h2 {
    padding-left: 20pt;
    padding-right: 20pt;
}
aside ul {
    padding-left: 20pt;
    padding-right: 20pt;
    list-style-type: none;
}
aside li {
    color: blue;
    margin: 16pt 0;
}