body {
    width: 80%;
    margin: auto;
    background-color: white;
}
main {
    margin-right: 34%; 
}
header {
    height: 220pt;
    width: 100%;
    text-align: center;
    background-image: url("background.png");
    background-size:100% 100%;
}
.title {
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
}
/* Reference: https://welearncode.com/rainbow-text/ */ 

h1, h3 {
    font-family: sans-serif;
    font-size: 320%;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p, h1, h2, h3, li {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
header img {
    position: absolute;
    right: 150pt;
    top: 50pt;
    max-height: 25%;
    max-width: 25%;
}
nav {
    height: 52pt;
    width: 100%;
    text-align: center;
    background-color: cornflowerblue;
}
li {
    margin: 16pt 0;
}
section img {
    display: none;
}
/* Reference: https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    margin: 0;
}
nav a {
    display: block;
    padding: 8pt;
    color: black; 
    background-color: orange;
}
#intro {
    background-color: magenta;
}
#intro p {
    color: white;
}
/* Reference: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
aside {
    color: black; 
    width: 24%; 
    position: absolute; 
    z-index: 1;
    top: 320pt; 
    right: 10%;
    background-color: yellow; 
    overflow-x: hidden; 
    padding-top: 12pt;
    padding-bottom: 20pt;
    text-align: center;
}
aside h2 {
    padding-left: 20%;
    padding-right: 20%;
}
aside ul {
    padding-left: 20%;
    padding-right: 20%;
    list-style-type: none;
}
aside li {
    color: darkcyan;
    font-size: 14pt;
}