body {
    background-color: black;
    text-align: center;
    background-image: url("background.png");
}
main {
    margin-left: 280pt; 
}
h1 {
    color: blue;
}
h2 {
    font-size: 16pt;
}
h3 {
    color: yellow;
}
/* Reference: https://stackoverflow.com/questions/7282236/placing-an-image-to-the-top-right-corner-css */
img {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    max-height: 25%;
    max-width: 25%;
}
/* Reference: https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav a {
    display: block;
    padding: 8pt;
    background-color: red;
}
section {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#intro {
    color: pink;
}
#history {
    color: greenyellow;
}
#offer {
    color: red;
}
/* Reference: https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
aside {
    color: skyblue;
    height: 50%; 
    width: 280pt; 
    position: fixed; 
    z-index: 1;
    top: 160pt; 
    left: 0;
    background-color: black; 
    overflow-x: hidden; 
    padding-top: 20pt;
}