/* Background image from: https://www.pinterest.ca/pin/old-paper-texture-seamless-pattern--386676317990825029/ */ 
body {
    color: darkred;
    background: OldLace;
    background-image: url("paper.jpg");
    margin-left: 25%;
    margin-right: 25%;
}
h1, h2, h3, h4, h5 {
    text-align: center;
    line-height: 1.2;
    margin-top: 0.2em;
    margin-bottom: 0.2em; 
    color: brown;
}
h1 {
    font-size: 300%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
    text-indent: 0; 
    font-family: 'Brush Script MT', cursive;
}
h2 {
    font-size: 175%;
    margin-top: 2em;
    margin-bottom: 1em; 
    letter-spacing: 0.06em;
    word-spacing: 0.1em;
    font-family: Garamond, serif; 
}
h3 {
    font-size: 150%;
    margin-top: 2em; 
    font-family: Garamond, serif; 
}
h4 {
    font-size: 120%
}
h5 {
    font-size: 110%
}
hr {
    height: 2px;
    background-color: firebrick;
    border: none;
}
p { 
    text-indent: 2em;
    margin: 16pt 0;
    font-family: 'Times New Roman', serif; 
}
#pg-machine-header p {
    font-family: Georgia, serif;
    font-size: 95%; 
}
p.poem {
    font-size: 90%; 
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    color: firebrick;
}
p.asterism, p.letter, p.noindent {
    font-size: 90%; 
    color: firebrick;
}
p.footnote, p.center {
    font-size: 130%; 
    color: firebrick;
}
table {
    margin-left: auto; 
    margin-right: auto; 
}
.mynote {
    background-color: PapayaWhip;
    color: SaddleBrown;
    padding: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 95%; 
    font-family: Georgia, serif;
}
a:link {
    color: crimson;
}
a:visited {
    color: crimson;
}
a:hover {
    color: SandyBrown
}
/* Reference: https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card */ 
img {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 16px 0 rgba(139, 58, 0, 0.8), 0 6px 20px 0 rgba(139, 58, 0, 0.2);
    margin-bottom: 25px;
}